<div class="about-me">
    <div class="container">
        <h2 id="about-title">About me</h2>
        <div class="col">
            <img src="assets/about-me-img.jpg" alt="">
        </div>
        <div class="col">
            <h3 id="about-txt1">Who am I?</h3>
            <p id="about-txt2">My name is Lesley Hutchinson, and I am 19 years old. I started as a Java Developer in 2017 and on December 2, 2018, I made my first Java plug-in public on spigotmc.org. I got a lot of positive feedback from the people who downloaded the plugins. Not only that, but I made 8  plugins public in total and got over 5000 downloads. In 2019, I started Mobile Development with the Dart and Swift programming languages, then I made the Apple App Break and Surprise public on the Apple App Store. In 2020, I started Web development with HTML, CSS, JavaScript and jQuery. I found my place in this, and to this day I enjoy making websites.</p>
        </div>
    </div>
</div>

<script>
    var language = window.navigator.userLanguage || window.navigator.language;

    if (language == "nl" || language == "nl-nl" || language == "nl-NL") {

        $('#about-title').text("Over ons");
        $('#about-txt1').text("Wie ben ik?");
        $('#about-txt2').text("Mijn naam is Lesley Hutchinson en ik ben 19 jaar oud. Ik ben in 2017 begonnen als Java Developer en op 2 december 2018 heb ik mijn eerste Java plug-in openbaar gemaakt op spigotmc.org. Ik kreeg veel positieve feedback van de mensen die de plug-ins hebben gedownload. Niet alleen dat, maar ik maakte in totaal 8 plug-ins openbaar en kreeg meer dan 5000 downloads. In 2019 ben ik begonnen met Mobile Development met de programmeertalen Dart en Swift, daarna maakte ik Apple App Break en Surprise openbaar in de Apple App Store. In 2020 ben ik begonnen met webontwikkeling met HTML, CSS, JavaScript en jQuery. Hierin heb ik mijn plek gevonden en tot op de dag van vandaag geniet ik van het maken van websites.")
    }
</script>