<div class="projects">
    <div class="container">
        <h2 id="projects-title">Projects</h2>

        <div class="col">
            <img src="assets/Lelo Construction Project.jpg" alt="Lelo Construction project pictures">
            <h3>Lelo Construction</h3>
            <p><span class="developed-in">Website Developed in</span> 2021</p>
            <!---<a href="#lelo-construction">Show More</a>---->

            <img src="assets/365software.webp" style="margin-top: 1em;" alt="365software project pictures">
            <h3>365software</h3>
            <p><span class="developed-in">Website Developed in</span> 2021</p>
            <!---<a id="go-to-website" href="https://365software.nl">Go to Website</a>---->
        </div>
        <div class="col">
            <img src="assets/Project Template.png" alt="Portfolio project pictures">
            <h3>Portfolio Website</h3>
            <p><span class="developed-in">Website Developed in</span> 2021</p>
            <!---<a href="#portfolio-website">Show More</a>---->

            <img src="assets/MyCssTools Project.jpg" alt="Portfolio project pictures">
            <h3>MyCssTools.com </h3>
            <p><span class="developed-in">Website Developed in</span> 2021</p>
            <!---<a href="https://mycsstools.com">Show More</a>---->
        </div>
        <div class="col">
            <img src="assets/Webshop.png" alt="Webshop project pictures">
            <h3 id="webshop">Electronic Webshop</h3>
            <p><span class="developed-in">Website Developed in</span> 2021</p>
            <!---<a href="#webshop">Show More</a>---->
        </div>

    </div>

    <div class="container">

        <h2>Andere projecten</h2>
        <h3>Java</h3>
        <p>Ik ben in 2016 begonnen met het developen in Java heb meerdere publieke resources online staan o.a.</p>
        <a href="https://www.spigotmc.org/resources/authors/onlinemetlesley.84459/">Bekijk Java Projecten</a>
        <div class="col">
            <div class="wrap">
                <h3>Custom Slash Help</h3>
                <p>2 december 2018</p>
                <p>Make your own custom /help with multiple pages</p>
                <p>123 downloads</p>
                <a href="https://www.spigotmc.org/resources/custom-slash-help-1-8-x-1-13-x.62890/">Bekijk meer</a>
            </div>

            <div class="wrap">
                <h3>Obsidian To Lava</h3>
                <p>11 december 2018</p>
                <p>EASY TO USE OBSIDIAN TO LAVA PLUGIN</p>
                <p>603 downloads</p>
                <a href="https://www.spigotmc.org/resources/obsidian-to-lava-1-8-x-1-14-x.63106/">Bekijk meer</a>
            </div>

            <div class="wrap">
                <h3>Spectator on death</h3>
                <p>30 november 2018</p>
                <p>Automatically get into Spectator mode when you die.</p>
                <p>2,599 downloads</p>
                <a href="https://www.spigotmc.org/resources/spectator-on-death-1-13-x-1-14-x.62841/">Bekijk meer</a>
            </div>
        </div>

        <div class="col">
            <div class="wrap">
                <h3>Report System</h3>
                <p>17 november 2018</p>
                <p>Players can report bugs or players.</p>
                <p>303 downloads</p>
                <a href="https://www.spigotmc.org/resources/report-system-1-8-x-1-13-x.62487/">Bekijk meer</a>
            </div>

            <div class="wrap">
                <h3>Full Inventory</h3>
                <p>2 december 2018</p>
                <p>Sends a message, title or subtitle when the player's inventory is full.</p>
                <p>613 downloads</p>
                <a href="https://www.spigotmc.org/resources/full-inventory-1-8-x-1-14-x-fully-customizable.62898/">Bekijk meer</a>
            </div>

            <div class="wrap">
                <h3>Command Disabler</h3>
                <p>30 november 2018</p>
                <p>Disable every command u want!.</p>
                <p>952 downloads</p>
                <a href="https://www.spigotmc.org/resources/command-disabler-1-8-x-1-14-x.62917/">Bekijk meer</a>
            </div>
        </div>

        <div class="col">
            <div class="wrap">
                <h3>Fly voucher</h3>
                <p>17 november 2018</p>
                <p>Players can report bugs or players.</p>
                <p>153 downloads</p>
                <a href="https://www.spigotmc.org/resources/fly-voucher-item-to-give-perms-to-fly.69448/">Bekijk meer</a>
            </div>

            <div class="wrap">
                <h3>Minecraft Gambling</h3>
                <p>16 september 2019</p>
                <p>Gambling brought to Minecraft</p>
                <p>423 downloads</p>
                <a href="https://www.spigotmc.org/resources/minecraft-gambling-1-8-x-1-14-x-fully-custumizable.71346/">Bekijk meer</a>
            </div>
        </div>

        <h3>Mobile Apps</h3>
        <p>In 2020 had ik interesse in het developen van apps dus ging ik het leren. Toen heb ik 1 app uitgebracht:</p>

        <div class="col">
            <div class="wrap">
                <h3>Break and Surprise</h3>
                <p>2 juni 2020</p>
                <p>The funniest click to win game!</p>
                <p>Programmeringstaal: Swift</p>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    var language = window.navigator.userLanguage || window.navigator.language;

    if (language == "nl" || language == "nl-nl" || language == "nl-NL") {

        $('#projects-title').text("Projecten")
        $('.developed-in').text("Website gebouwd in");
        $('#webshop').text("Electronica webshop");
        $('#go-to-website').text("Ga naar Website");
    }
</script>